@charset "utf-8";
/* CSS Document */
body{
	color:#666;
    font-size:14px;
    font-family:"微软雅黑","HelveticaNeueLT Pro 33 ThEx",Arial,Verdana,sans-serif;
}
.wait_pic{
	display: block;
	width:250px;
	margin: 0 auto;
	margin-top: 20%;
}

.wait_info{
	display: block;
	width:150px;
	height:25px;
	text-align: center;
	margin: 0 auto;
	margin-top: -50px;
	line-height: 25px;
	font-size: 14px;
	color: #333;
}



















